@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}


#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat fixed;
    

}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais a > img {
    border-radius: 50%;
    width: 60px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}

#redes-sociais  img:hover {
    border: 2px solid rgba(255, 255, 255, 0.596);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform .5s;
}